html, body, .canvas {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}



body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
#title{
  width: 100%;
  height: 53px;
  position: absolute;
  top: 0px;
  text-align: center;
}

#towers {
      width: 75%;
      height: 40%;
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }

  .tower {
    width: 150px;
    height: 117px;
    border-bottom: 5px solid #6005FE;
    position: relative;
    padding: 0;
    margin: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
  }


  
  .tower:before {
    width: 4px;
    height: 150px;
    content: "";
    display: inline-block;
    background: #6005FE;
    position: absolute;
    bottom: -2px;
    left: 49%;
    z-index: 1px;
    border-radius: 30px;
    
  }
.disc{
   display:flex; 
   z-index:2;
  
}
    #disc1{
      height: 30px;
      width: 120px;
      background-color:#b30000;
      border-radius: 10px;
        
        
    }
    #disc2{
      height: 30px;
      width: 90px;
      background-color:#cc3399;
      border-radius: 10px;
    }
    #disc3{
        height: 30px;
        width: 60px;
        background-color:#0066ff;
        border-radius: 10px;
    }
    #disc4{
        height: 30px;
        width: 30px;
        background-color:#009900;
        border-radius: 10px;
    }
    
